*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STRUCTURE DEFINITION CLASSES */

/* HEADER */

header .logo-mobile{
    height: 37.5px;
}

.bg-header{
    background-color: #F8F9FB;
}

.content-header{
    background-color: red;
    height: 40px;
    margin-top: 5px;
}

.h-custom-40{
    height: 40px;
}


.search-bar-container {
    position: relative;
    width: 100%;
}
.search-bar-custom {
    width: 100%;
    padding-left: 25px; 
    background-color: #E5E5E5;
}

.dropdown-toggle{
    background-color: #fff;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.search-bar-icon{
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1000;
    cursor: pointer;
}

.text-darkgrey{
    color: #5A5657
}

/* MAIN GENERAL */

main{
    margin-top: 54px;
    height: calc(100vh - 54px);
    background-color: azure;
}

/* SIDEBAR */

.sidebar{
    height: calc(100vh - 54px);
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content-top{
    height: 200px;
    background-color: yellow;
}

.sidebar-content-bottom{
    height: 50px;
    background-color: green;
}

/* MAIN-CONTENT */

.main-container{
    background-color: purple;
    height: calc(100vh - 54px);
    overflow: auto;
}
.content-main-header{
    height: 75px;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
    top: 54px;
    z-index: 1;
}
.mt-75px{
    margin-top: 75px;
}
.content-main{
    background-color: #F8F9FB;
    height: 100px;
}


