*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STRUCTURE DEFINITION CLASSES */

/* HEADER */

header .logo-mobile{
    height: 37.5px;
}

.bg-header{
    background-color: #F8F9FB;
}

.content-header{
    background-color: red;
    height: 40px;
    margin-top: 5px;
}

.h-custom-40{
    height: 40px;
}


.search-bar-container {
    position: relative;
    width: 100%;
}
.search-bar-custom {
    width: 100%;
    padding-left: 25px; 
    background-color: #E5E5E5;
}

.dropdown-toggle{
    background-color: #fff;
    border: none;
}


                                                /* CHIEDI */
.dropdown-menu-end{
    right: 10px !important;
}

.dropdown-menu{
    top: 75% !important;
}
                                                /* CHIEDI */



.dropdown-toggle::after {
    display: none;
}

.search-bar-icon{
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 1000;
    cursor: pointer;
}

.text-darkgrey{
    color: #5A5657
}

/* MAIN GENERAL */

main{
    margin-top: 54px;
    height: calc(100vh - 54px);
    background-color: azure;
}

/* SIDEBAR */

.sidebar{
    height: calc(100vh - 63.5px);
    width: 50px;
    margin-top: 10px;
    background-color: #051E34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 35px;
}

.sidebar-content-top i, .sidebar-content-bottom i{
    width: 100%;
}






/* MAIN-CONTENT */

.main-container{
    height: calc(100vh - 53.5px);
    width: calc(100vw - 50px);
    overflow: auto;
    background-color: #F8F9FD;
}
/* MAIN HEADER */

.pill-bg{
    background-color: #1959BA;
    font-size: 9px;
}

.symbol-pill{
    font-size:12.5px;
}

.content-main-header{
    width: 100%;
    background-color: #1B71E8;
    position: fixed;
    top: 63.5px;
    z-index: 1;
}

.text-main-header-sm{
    font-size: 12.5PX;
}

.mt-75px{
    margin-top: 85px;
}

.mt-main-body{
    margin-top: 180px;
}

.content-main{
    background-color: red;
    height: 100px;
}

.btn{
    padding: 2.5px 10px ;
    font-size: 15px;
}

.btn:hover{
    background-color: #1256b5;
    color: #fff;
}

.img-table{
    width: 25px;
}


.fs-custom-12{
    font-size: 12.5px;
}

.fs-custom-table{
    font-size: 10px;
}

.btn-custom{
    width: 25px;
    height: 25px;
    border: 1px solid #817d81;
    color: #817d81;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .mt-main-body{
        margin-top: 83px;
    }
}


@media screen and (min-width: 991px) {
    .sidebar-content-top i, .sidebar-content-bottom i{
        width: 30px;
    }

    .main-container{
        height: calc(100vh - 54px);
        width: calc(100vw - 125px);
        margin-top: 0;
        padding-bottom: 0;
    }

    .content-main-header{
        top: 54px;
    }

    .sidebar{
        height: calc(100vh - 50px);
        margin-top: 0;
        width: 125px;
    }

    .mt-main-body{
        margin-top: 70px;
    }
}



